.img-radios{
  height: 65vh !important; 
  border-radius: 5vh;
}

.tech-icon{
  height: 5vh;
}
.tech-box{
  color: #007bff;
  padding: 1vh;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}



@media (max-width:1200px){
  .img-radios{
    height: 50vh !important;
    border-radius: 5vh;
  }

}

@media (max-width:1080px){
  .img-radios{
    height: 45vh !important;
    border-radius: 5vh;
  }

}

@media (max-width:790px) {
  .img-radios{
    height: 40vh !important;
    border-radius: 5vh;
  }

}
@media (max-width: 425px) {
  .img-radios{
    height: 35vh !important;
    border-radius: 5vh;
  }

}
@media (max-width:320px) {
  .img-radios{
    height: 30vh !important;
    border-radius: 5vh;
  }

}
