.img-radios{
  height: 65vh !important; 
  border-radius: 5vh;
}

.text-sobre{
  font-size: 20px;
  width: 75vh
}

.pin-tec{
  background-color: white;
  color: #007bff;
  margin: 0.5rem;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}



.carousel-indicators button {
  background-color: black !important; /* Cor dos indicadores inativos */
}
  
.carousel-indicators .active {
  background-color: #0d6efd !important; /* Cor do indicador ativo */
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
  background-color: #0d6efd; /* Cor dos botões de avançar e voltar */
  border-radius: 10%;
}

.border-contact{
  border: 10px dashed #007bff;
}


@media (max-width:1200px){
  .img-radios{
    height: 50vh !important;
    border-radius: 5vh;
  }

  .text-sobre{
    font-size: 20px;
    width: 65vh
  }

}

@media (max-width:1080px){
  .img-radios{
    height: 45vh !important;
    border-radius: 5vh;
  }

  .text-sobre{
    font-size: 25px;
    width: 55vh
  }

  .pin-tec{
    background-color: white;
    color: #007bff;
    margin: 0.5rem;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width:790px) {
  .img-radios{
    height: 40vh !important;
    border-radius: 5vh;
  }

  .text-sobre{
    font-size: 20px;
    width: 40vh
  }
}
@media (max-width: 425px) {
  .img-radios{
    height: 35vh !important;
    border-radius: 5vh;
  }

  .text-sobre{
    font-size: 10px;
    width: 40vh
    
  }

}
@media (max-width:320px) {
  .img-radios{
    height: 30vh !important;
    border-radius: 5vh;
  }

  .text-sobre{
    font-size: 20px;
    width: 40vh
  }
}
